.skills {
    padding: 20px;
    text-align: left;
}

.skills ul {
    width: 100%;
    list-style: none;
    padding: 0;
}

.skills li {
    margin-bottom: 20px;
}

.skills h3 {
    margin-bottom: 5px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.sk-list {
    display: flex;
    justify-content: space-between;
}

.sk-add {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
